{% extends 'chatapp/index.html' %}

{% block content %}
<body id="body">
<!-- main body start -->
<div class="container-fluid">


{% if check_admin %}

<style>
  #footer{
    margin-right: -1%;
  }
</style>

        <div class="col-md-6" id="subclass">
                <h2 style="margin-bottom: 2%; text-align: center; color: white"><b>User intent and Bot response</b></h2>
                
                  <form method="post" action="issue">
                    {% csrf_token %}
                   <div class="form-group">
                      <label for="Title">Intent</label>
                      <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Please enter Intent title here" required="">
                      <small id="emailHelp" class="form-text text-muted" style="color: white">We'll share your isuue for chatbot feedback.</small>
                    </div>
                    <div class="form-group">
                      <label for="Issue">User Intention</label>
                      <input type="text" class="form-control" name="issue" id="issue" placeholder="Please enter User Intention here" required="">
                    </div>
                    <div class="form-group">
                      <label for="Issue">Bot Response</label>
                      <input type="text" class="form-control" name="solution" id="solution" placeholder="Please enter Bot Response here" required="">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </form>


                  <form method="post" style="margin-top: 10%" action="trainbot">
                    {% csrf_token %}
                  <div class="form-group">
                      <label for="exampleFormControlSelect1" style="color: white">Select Environment</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="train">
                        <option>Development</option>
                        <option>Testing</option>
                        <option>Production</option>
                      </select>
                    </div>
                  <button type="submit" class="btn btn-success">Train Bot</button>
                  </form>

        </div>



        <div class="col-md-6">	
                	<div class="chat_window">
                	    <div class="top_menu">
                	        <div class="buttons">
                	            <div class="button close"></div>
                	            <div class="button minimize"></div>
                	            <div class="button maximize"></div>
                	        </div>
                	        <div class="title">Chat</div>
                	    </div>
                	    <ul class="messages"></ul>
                	    <div class="bottom_wrapper clearfix">
                	        <div class="message_input_wrapper">
                	            <input class="message_input" name='message' placeholder="Type your message here..." />
                	        </div>
                	        <div class="send_message">
                	            <div class="icon"></div>
                	            <div class="text">Send</div>
                	        </div>
                	    </div>
                	</div>
                	<div class="message_template">
                	    <li class="message">
                	        <div class="avatar"></div>
                	        <div class="text_wrapper">
                	            <div class="text"></div>
                	        </div>
                	    </li>
                	</div>
        </div>

</div>


{% else %}
<style>
  #footer{
    margin-left: -1%;
  }
</style>


<div class="col-md-10" style="padding-top: 3%; margin-left: -3%">  
                  <div class="chat_window">
                      <div class="top_menu">
                          <div class="buttons">
                              <div class="button close"></div>
                              <div class="button minimize"></div>
                              <div class="button maximize"></div>
                          </div>
                          <div class="title">Chat</div>
                      </div>
                      <ul class="messages"></ul>
                      <div class="bottom_wrapper clearfix">
                          <div class="message_input_wrapper">
                              <input class="message_input" name='message' placeholder="Type your message here..." />
                          </div>
                          <div class="send_message">
                              <div class="icon"></div>
                              <div class="text">Send</div>
                          </div>
                      </div>
                  </div>
                  <div class="message_template">
                      <li class="message">
                          <div class="avatar"></div>
                          <div class="text_wrapper">
                              <div class="text"></div>
                          </div>
                      </li>
                  </div>
</div>



{% endif %}
<!-- main body end -->

<script type="text/javascript">
	(function () {
    var Message;
    Message = function (arg) {
        this.text = arg.text, this.message_side = arg.message_side;
        this.draw = function (_this) {
            return function () {
                var $message;
                $message = $($('.message_template').clone().html());
                $message.addClass(_this.message_side).find('.text').html(_this.text);
                $('.messages').append($message);
                return setTimeout(function () {
                    return $message.addClass('appeared');
                }, 0);
            };
        }(this);
        return this;
    };
    $(function () {
        var getMessageText, message_side, sendMessage;
        message_side = 'right';
        getMessageText = function () {
            var $message_input;
            $message_input = $('.message_input');
            return $message_input.val();
        };
        sendMessage = function (text) {
            var $messages, message;
            if (text.trim() === '') {
                return;
            }
            $('.message_input').val('');
            $messages = $('.messages');
            message_side = message_side === 'left' ? 'right' : 'left';
            message = new Message({
                text: text,
                message_side: message_side
            });
            message.draw();
            return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
        };
        $('.send_message').click(function (e) {
          $.ajax({
              method: "POST",
              url: "{% url 'chat' %}",
              data: $('.message_input').serialize()
            })
              .done(function( msg ) {
                var data = JSON.parse(msg)
                sendMessage(data.message)
            });
            return sendMessage(getMessageText());
        });
        $('.message_input').keyup(function (e) {
            if (e.which === 13) {
            	$.ajax({
    				  method: "POST",
    				  url: "{% url 'chat' %}",
    				  data: $('.message_input').serialize()
    				})
    				  .done(function( msg ) {
    				  	var data = JSON.parse(msg)
                sendMessage(data.message)
    				});

            	// $('#form').submit();
                return sendMessage(getMessageText());
            }
        });
        sendMessage('Hello Welcome to Chat !');
        setTimeout(function () {
            // return sendMessage('Hi Sandy! How are you?');
        }, 1000);
        return setTimeout(function () {
            // return sendMessage('I\'m fine, thank you!');
        }, 2000);
    });
}.call(this)); 
</script>

</body>
{% endblock %}

